.info-section {
  width: 35%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 54px;

  .logo {
    border: 3px solid #fff;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    color: white;
  }

  .info-box {
    bottom: 60px;
    position: absolute;

    h4 {
      font-size: 1.2rem;
      color: $color3;
      margin: 0.7rem 0;
    }

    .phone {
      margin: 0 0 0.7rem 0;
    }

    p {
      font-size: 0.9rem;
      font-weight: 300;
      color: $color3;
      margin: 0.2rem 0 1.6rem;
    }
    a {
      color: white;
      text-decoration: none;
      //font-size: 2rem;;
    }
  }
  .icon-section {
    a {
      font-size: 1.5rem !important;
      padding: 0px 10px 0px 0px !important;
      &:hover {
        color: $hoveredColor1;
      }
    }
  }
 }
